{% extends 'base.html' %}

{% block content %}

<style>
    a {
        text-decoration: none;
    }
</style>

<form style="width: 50%; margin-top: 10px;" class="mx-auto" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  
  <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div class="text-center">
    <p>Dont have an account? Create account <a href="{% url 'create-user' %}">here</a></p>
  </div>

{% endblock %}